  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" Placeholder="Checklist item 1...">
        </span>
        <input type="text" class="form-control" Placeholder="new item...">
      </div>
    </div>
  </div>