  <div class="card-with-x container row col-md-12">
    <div class="card-box pull-left row col-md-12">
  <h3><%=card.escape('title')%></h3> 
  <button type="button" 
          class="btn btn-danger delete-card center"
          data-id="<%=card.escape('id')%>"
          role="button">Delete Card</button>
</div>

        
</div>
