<div class="board-new-form">
<h2>Create a new Board</h2>

<form>
  <label>
    Title
    <input type="text" name="board[title]">
  </label>

  <button type="submit">Create Board</button>
</form>
<div>