<div class="new-list-form">
  <h2>Add a New List to this Board</h2>

  <form>
    <label for="input-title">Title</label>
      <input type="text" 
             name="list[title]" 
             id="card-input-title" 
             placeholder="List title...">
<button type="submit" class="btn btn-success" role="button">Add List</button>

  </form>
</div>