<div class="new-list-form">
  <h2>Add a New List to this Board</h2>

  <form>
    <label>
      Title
      <input type="text" name="list[title]">
    </label>
<button type="submit" class="btn btn-success" role="button">Add List</button>

  </form>
</div>