<div class="col-xs-3 list-box">
  <h2><%=list.escape('title')%></h2> 
  <p class="add-remove-buttons">
    <button type="button" 
            class="btn btn-danger delete-list center" 
            role="button">Remove List</button> 
    <button type="button" 
            class="btn btn-success add-card hidden" 
            data-toggle="modal" 
            data-target="#myModal" 
            role="button">+Add Card</button>
  </p>
  <div class="card-new"></div>
  <ul class="cards">
  </ul>   
  <div class="add-card">
  </div>   
</div>

