<div class="col-md-2 list-box">
  <h2><%=list.escape('title')%></h2> 
  <p class="add-remove-buttons">
    <button type="button" class="btn btn-danger delete-list" role="button">Remove List</button> 
    <button type="button" class="btn btn-success add-comment" role="button">Add Comment</button>
  </p>
  <ul class="cards">
  </ul>   
  <div class="add-card">
  </div>   
</div>

